<ul id="nav_admin">
	<li><%= link_to "New Product", new_admin_product_path %></li>
	<li><%= link_to "Categories", admin_categories_path %></li>	
	<li><%= link_to "Roles", admin_roles_path %></li>
	<li><%= link_to "Users", admin_users_path %></li>
	<li><%= link_to "Config Values", admin_config_values_path %></li>	
</ul>